
.third-session{
    height: 500px;
    display: flex;
    background-image: url("../../../assets/car3.jpg");
   
}
.third-session .content{
    flex: 1;
    padding: 70px;
    margin-top: 10px;
    margin-left: 30px;
}
.third-session .content .title{
  font-size: 50px;
  font-family: 'monaco';
  color: rgb(215, 207, 207);

  animation: fadeIn 3s forwards;
}
.third-session .features{

    display:flex;
    flex-direction: column;
    flex: 1;
    
}
.third-session .features .rows{
    display: flex;
    margin: 10px;
    
}
.third-session .features .rows .box{
    font-size: 26px;
    color: rgb(202, 190, 190);
    padding: 10px;
    width: 150px;
    height:100px;
    margin-top: 80px;
    margin: 20px;
    border-radius: 10px;
    background: linear-gradient(89.1deg, rgba(255, 191, 0,0.5), rgba(255, 191, 0,0.5));
    box-shadow: 5px 5px 10px -2px var(--black);
}