.form-container {
  max-width: 400px;
  margin: 100px;
  padding: 50px;
  border: 1px solid #e5ca50;
  border-radius: 5px;
  background-color:#f5cb5c ;
}
.pattern-background {
  background-image: url('https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');
  background-size: cover;
  padding: 10px;
}
.title{
  color: #747474;
}
.form-group {
  margin-bottom: 20px;
}

.error {
  color: red;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
