.schedule-details {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  margin: 20px;
  gap: 20px;
}
.schedule-details .specific-location input,
.schedule-details .date-time input {
  outline: none;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  width: 190px;
  height: 35px;
  border-radius: 4px;
  background: linear-gradient(89.1deg, var(--lightYellow), var(--yellow));
  box-shadow: 5px 5px 10px -2px var(--black);
}

/* date-picker */

.schedule-details .date-time .react-datepicker__day--selected {
  background-color: var(--yellow);
}
